@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FCE8C3;
  --font-color-main: #623411;
  --font-color-logo: #CD3F3E;

  --item-color-main: #E46D35;
  --item-color-secondary: #F58634;
  --item-color-tertiary: #EAB04C;
}

body {
  min-height: 100%;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 479px) {
  .page-wrapper.real-100vh {
      flex-direction: column;
      display: flex;
  }
}

.real-100vh {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.text-main {
  font-size: 1.2em;
}

li.selected {
  background: var(--item-color-secondary);
}

.text-color-main {
  color: var(--font-color-logo);
}

.logo-text {
  color: var(--font-color-logo);
}


.teach-me-input {
  background: var(--font-color-main);
  color: white;

}

.item-color-main {
  background-color: var(--item-color-main);
}

.item-color-secondary {
  background-color: var(--item-color-secondary);
}

.item-color-tertiary {
  background-color: var(--item-color-tertiary);
}

.create-button {
  background-color: var(--font-color-logo);
  color: white;
}

.dropdown-button {
  background: var(--item-color-main);
  color: white;
  border-radius: 0;
  border-bottom: var(--item-color-secondary) 16px solid;
  box-shadow: 0 16px var(--item-color-tertiary);
}

body {
  background-color: black;
}

.page-wrapper {
  color: var(--font-color-main);
  background: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes expandWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes expandWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-width {
  animation: expandWidth 10s linear infinite;
  -webkit-animation: expandWidth 10s linear infinite;
}

@media only screen and (min-width: 768px) {

  .page-wrapper {
    width:60vh; 
    margin: auto;
  }
}

.button-container {
  perspective: 1000px;
}

.button {
  width: 147px;
  height: 147px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
}

.button svg {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.button svg.pause {
  transform: rotateY(180deg);
}

.button.flipped {
  transform: rotateY(180deg);
}
