@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FCE8C3;
  --font-color-main: #623411;
  --font-color-logo: #CD3F3E;

  --item-color-main: #E46D35;
  --item-color-secondary: #F58634;
  --item-color-tertiary: #EAB04C;
}

.text-color-main {
  color: var(--item-color-main);
}

.logo-text {
  color: var(--font-color-logo);
}


.teach-me-input {
  background: var(--font-color-main);
  color: white;

}

.item-color-main {
  background-color: var(--item-color-main);
}

.item-color-secondary {
  background-color: var(--item-color-secondary);
}

.item-color-tertiary {
  background-color: var(--item-color-tertiary);
}

.create-button {
  background-color: var(--font-color-logo);
  color: white;
}

.dropdown-button {
  background: var(--item-color-main);
  color: white;
  border-radius: 0;
  border-bottom: var(--item-color-secondary) 16px solid;
  box-shadow: 0 16px var(--item-color-tertiary);
}

body {
  color: var(--font-color-main);
  background: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes expandWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes expandWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-width {
  animation: expandWidth 10s linear infinite;
  -webkit-animation: expandWidth 10s linear infinite;
}